.cardDescription {
    height: 4rem;
    overflow-y : scroll;    
}   
.hideScrollbar::-webkit-scrollbar{
    display: none;

}
.cardTitle {
    font-size: 1.25rem;
    height: 1.75rem;
    overflow-y: scroll;
}

.myCard {
    width: 18rem;
}

.done {
    opacity: 50%;
}
.cardFromWhere {    
    height: 4rem;
    overflow-y: scroll;
}