@model Item
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Item details</h3>

<form method="post" class="w-50">            
    <div class="form-group mb-2">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" type=" text" class="form-control" placeholder="Milk" maxlength="40">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Description">Description   </label>
        <textarea asp-for="Description" type="text" class="form-control" id="description" placeholder="5kg or Nestle" ></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="FromWhere" for="fromWhere">Bring from here</label>
        <input asp-for="FromWhere" type="text" class="form-control" id="fromWhere" placeholder="Spar">
        <span asp-validation-for="FromWhere" class="text-danger"></span>
    </div>
    <div class="">

        <button type="submit" asp-action="AddOnClick" asp-controller="ManageItem" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
        <button class="btn btn-dark" asp-action="Index" asp-controller="Item">Back to the page</button>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}